.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 200px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
  position: fixed;
  left: -220px;
  top: 60px;
  height: 100vh;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.2s ease;
  gap: 10px;
}
.sidebar li:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}
.sidebar-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 4px;
}
.sidebar .active {
  font-weight: bold;
  color: #4f46e5;
}

.main {
  flex-grow: 1;
  padding: 3rem;
  margin-left:0 ;
  margin-top: 50px;
  background-color: #f8f9fc;
  min-height: 100vh;
  width: 100%;
}
.banner{
  background-color:#e0e7ff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.pre-banner{
  text-align: center;
  color: #888;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

@media (min-width: 769px) {
  .app {
    flex-direction: row;
  }

  .sidebar {
    position: static;
    left: 0;
    height: auto;
    border-right: 1px solid #e5e7eb;
  }

}
